+++
title = "DNA"
linkTitle = "Home"

+++

{{< blocks/cover title="Bem-vindo ao site da GS Treinamento e Consultoria" image_anchor="top" height="full" color="black" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/sobre" >}}">
		Saiba mais sobre nós! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/inscricoes" >}}">
		Faça sua inscrição em nossos cursos! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Em construção!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Em construção!
<p>
Em construção!
{{% /blocks/lead %}}

{{< blocks/section color="light" type="features">}}
{{% blocks/feature icon="fa-dna" title="Em construção!" url="/sobre" %}}
Assessoria em projetos de genômica, filogenia molecular, biologia e genética!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-laptop-code" title="Em construção!" url="/sobre" %}}
Suporte para cadastros no SISGEN e CTF/APP!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-compress-arrows-alt" title="Em construção!" url="/sobre" %}}
Auxílio em planejamento experimental, análise de dados e redação científica!
{{% /blocks/feature %}}


{{< /blocks/section >}}

