+++
title = "DNA"
linkTitle = "Home"

+++

{{< blocks/cover title="Bem-vindo ao site da GS Treinamento e Consultoria!" image_anchor="top" height="auto" color="black" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/sobre" >}}">
		Saiba mais sobre os serviços e cursos oferecidos! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/inscricoes" >}}">
		Faça sua inscrição em nossos cursos! <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">A GS Treinamento e Consultoria é uma empresa que visa facilitar a vida do pesquisador brasileiro!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="light" type="features">}}
{{% blocks/feature icon="fa-dna" title="Genética molecular e genômica de microrganismos!" url="/sobre" %}}
Os consultores especialistas possuem extensa expertise em projetos de genômica, filogenia molecular, biologia e genética molecular!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-laptop-code" title="Fique em dia com a nova Lei de Biodiversidade Brasileira!" url="/sobre" %}}
Os consultores fornecem suporte especializado para cadastros no SISGEN e CTF/APP!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-compress-arrows-alt" title="Gerenciamento de projetos e escrita científica!" url="/sobre" %}}
Assessoria completa para o planejamento experimental, análise de dados e estruturação de artigos, aumentando a qualidade de seus resultados e publicações!
{{% /blocks/feature %}}


{{< /blocks/section >}}

